.link:link{
color: green;

}
/*pseudo klasa*/
.link:hover{
    color: red;

}
.link:visited{
    color: yellow;
}
.text{
    width: 400px;
}
.text::first-letter{
    font-size: 50px;
}
/*psedo element*/
.text::first-line {
    color: red;
}
